<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/src/styles/main.css">
</head>

<body x-data="productPage()" x-init="init()">
    {% include '../components/header.liquid' %}
    <main>
        <div class="flex justify-between py-0 md:py-0 items-center max-w-[1548px] mx-auto px-4">
            {% include '../components/breadcrumb.liquid' %}
            <div class="flex items-center gap-4">
                <span class="block w-px h-6 flex-basis-[1px] bg-neutral-400"></span>
                <button
                    class="flex items-center gap-2 text-xs text-primary font-medium uppercase tracking-[2.4px] h-12 py-2 cursor-pointer">
                    Share
                    <svg class="w-[24px] h-[24px] text-black">
                        <use xlink:href="#icon-share"></use>
                    </svg>
                </button>
            </div>
        </div>
        <template x-if="isProductLoaded">
            <div class="template-product">
                {% include '../components/product-info.liquid' %}

                {% include '../components/faq-accordion.liquid' %}

                {% include '../components/recommendations.liquid' %}

                {% include '../components/newsletter.liquid' %}
            </div>
        </template>
    </main>

    {% include '../components/size-selector-overlay.liquid' %}

    <script src="/src/js/main.js" type="module"></script>
</body>

</html>